.header{
    background-color: #13171C;
    max-height: 120px;
}
.header__cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
}
.header__logo{
   width: 100px;
   height: 100px;
   
}
.header__burger{
    width: 40px;
    height: 40px;
    
}
@media (min-width: 769px){
    .header__burger{display: none;}
}

.header__nav{
display: none;
}
@media (min-width: 769px){
    .header__nav{display: initial;}
}

.header__nav-a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
}
.header__burger-nav{
    background-color:#000000;
    min-height: 500px;
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.header__burger-nav-img{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}
.header__burger-nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.header__burger-nav-link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 42px;
    padding: 30px;
}